*.o
*.csv
*.swp
*.swo
sim
*.val
*.old
build/
generated/
genLoop.cc
*.vl
*.report
__pycache__
realsim
log
log.*
*filterline*
.vscode
docs/latex
docs/html
output
test/*/alexnet*/
test/*/output*/
bk
*.tar
*.tar.gz
*.tgz
gantt/*.json
search_space

*.gaia
*.zeus

# darknet
framework/darknet/*.o
framework/darknet/*.dSYM
framework/darknet/*.csv
framework/darknet/*.out
framework/darknet/*.png
framework/darknet/*.jpg
framework/darknet/*.pyc
framework/darknet/old/
framework/darknet/mnist/
framework/darknet/data/
framework/darknet/caffe/
framework/darknet/grasp/
framework/darknet/images/
framework/darknet/opencv/
framework/darknet/convnet/
framework/darknet/decaf/
framework/darknet/submission/
framework/darknet/cfg/
framework/darknet/darknet
framework/darknet/.fuse*
framework/darknet/.DS_Store*
framework/darknet/ehthumbs.db
framework/darknet/Icon?
framework/darknet/Thumbs.db
framework/darknet/*.swp
framework/darknet/lib*
framework/darknet/*.weights
